.realnavbar {

  .uui-navbar05_menu-button {
    padding: 0;
  }

  .uui-button {
    grid-column-gap: .5rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #7f56d9;
    border: 1px solid #7f56d9;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }

  .uui-button:hover {
    background-color: #6941c6;
    border-color: #6941c6;
  }

  .uui-button:focus {
    background-color: #7f56d9;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f4ebff;
  }

  .uui-button-tertiary-gray {
    grid-column-gap: .5rem;
    color: #475467;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }

  .uui-button-tertiary-gray:hover {
    color: #344054;
    background-color: #f9fafb;
  }

  .uui-button-secondary-gray {
    grid-column-gap: .5rem;
    color: #344054;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #d0d5dd;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }

  .uui-button-secondary-gray:hover {
    color: #1d2939;
    background-color: #f9fafb;
  }

  .uui-button-secondary-gray:focus {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f2f4f7;
  }

  .uui-button-secondary-gray.show-tablet, .show-tablet {
    display: none;
  }

  .uui-navbar05_button-wrapper {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    align-items: center;
    display: flex;
  }

  .uui-navbar05_menu-right {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
  }

  .uui-navbar05_link {
    color: #667085;
    align-items: center;
    padding: 1.75rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
  }

  .uui-navbar05_link:hover {
    color: #344054;
  }

  .uui-navbar05_link.w--current {
    color: #000;
  }

  .uui-button-link {
    grid-column-gap: .5rem;
    color: #6941c6;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }

  .uui-button-link:hover {
    color: #53389e;
  }

  .uui-navbar05_bottom-bar-content {
    z-index: 1;
    grid-template-rows: auto;
    grid-template-columns: max-content max-content;
    grid-auto-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
  }

  .uui-navbar05_bottom-bar-background {
    width: 200vw;
    background-color: #f9fafb;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: -50vw;
    right: -50vw;
  }

  .uui-navbar05_bottom-bar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    display: flex;
    position: relative;
  }

  .uui-text-size-small {
    color: #475467;
    letter-spacing: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .875rem;
    line-height: 1.5;
  }

  .uui-navbar05_item-heading {
    color: #101828;
    margin-bottom: .25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-weight: 600;
  }

  .uui-navbar05_item-heading.margin-bottom-0 {
    margin-bottom: 0;
  }

  .uui-navbar05_item-right {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .uui-icon-1x1-xsmall {
    width: 1.5rem;
    height: 1.5rem;
  }

  .icon-featured-large {
    width: 3rem;
    height: 3rem;
    color: #7f56d9;
    background-color: #f4ebff;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .uui-navbar05_icon-holder {
    flex: none;
  }

  .uui-navbar05_dropdown-link {
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
    border-radius: .5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    padding: .75rem;
    text-decoration: none;
    transition: all .3s;
    display: grid;
  }

  .uui-navbar05_dropdown-link:hover {
    background-color: #f9fafb;
  }

  .uui-navbar05_dropdown-link-list {
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .uui-badge-small-success {
    grid-column-gap: .25rem;
    color: #027a48;
    white-space: nowrap;
    mix-blend-mode: multiply;
    background-color: #ecfdf3;
    border-radius: 10rem;
    align-items: center;
    padding: .125rem .5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    display: flex;
  }

  .uui-navbar05_text-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: 0px;
    align-items: center;
    margin-bottom: .5rem;
    display: flex;
  }

  .uui-navbar05_dropdown-content-left {
    grid-column-gap: 1.5rem;
    grid-row-gap: 0px;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
  }

  .uui-navbar05_dropdown-content {
    width: 100%;
    display: flex;
  }

  .uui-navbar05_container {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .uui-navbar05_dropdown-list {
    box-shadow: 0 12px 16px -4px rgba(0, 0, 0, .08), 0 4px 6px -2px rgba(16, 24, 40, .03);
  }

  .uui-navbar05_dropdown-list.w--open {
    width: 100vw;
    max-width: 100%;
    min-width: 100vw;
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 5.0625rem;
    bottom: auto;
    left: 0%;
    right: auto;
    overflow: hidden;
  }

  .uui-dropdown-icon {
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    display: flex;
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .uui-navbar05_dropdown-toggle {
    color: #475467;
    align-items: center;
    padding: 1.75rem 2.5rem 1.75rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
    display: flex;
  }

  .uui-navbar05_dropdown-toggle:hover {
    color: #344054;
  }

  .uui-navbar05_menu-dropdown {
    position: static;
  }

  .uui-navbar05_menu {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    display: flex;
    position: static;
  }

  .uui-logo_image {
    width: auto;
    height: 100%;
    flex: none;
    display: none;
  }

  .uui-logo_logotype {
    width: auto;
    height: 100%;
    flex: none;
  }

  .uui-logo_logomark-dot {
    z-index: 1;
    width: 50%;
    height: 50%;
    background-image: linear-gradient(26.5deg, #6941c6, #53389e);
    border-radius: 50%;
    position: relative;
  }

  .uui-logo_logomark-blur {
    z-index: 2;
    width: 100%;
    height: 50%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .2);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .uui-styleguide_logomark-bg {
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .uui-logo_logomark {
    width: 2rem;
    height: 2rem;
    border: .1px solid #dae0e8;
    border-radius: .5rem;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(16, 24, 40, .06), 0 1px 2px rgba(16, 24, 40, .1);
  }

  .uui-logo_component {
    width: auto;
    height: 2rem;
    flex-wrap: nowrap;
    display: flex;
  }

  .uui-navbar05_logo-link {
    padding-left: 0;
  }

  .uui-navbar05_component {
    min-height: 5rem;
    background-color: #fff;
    border-bottom: 1px solid #f2f4f7;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
  }

  .uui-navbar3_menu-button {
    padding: 0;
  }

  .uui-button-2 {
    grid-column-gap: .5rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #7f56d9;
    border: 1px solid #7f56d9;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }

  .uui-button-2:hover {
    background-color: #6941c6;
    border-color: #6941c6;
  }

  .uui-button-2:focus {
    background-color: #7f56d9;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f4ebff;
  }

  .uui-button-tertiary-gray-2 {
    grid-column-gap: .5rem;
    color: #475467;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }

  .uui-button-tertiary-gray-2:hover {
    color: #344054;
    background-color: #f9fafb;
  }

  .uui-button-secondary-gray-2 {
    grid-column-gap: .5rem;
    color: #344054;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #d0d5dd;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }

  .uui-button-secondary-gray-2:hover {
    color: #1d2939;
    background-color: #f9fafb;
  }

  .uui-button-secondary-gray-2:focus {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f2f4f7;
  }

  .uui-button-secondary-gray-2.show-tablet, .show-tablet-2 {
    display: none;
  }

  .uui-navbar03_button-wrapper {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    align-items: center;
    display: flex;
  }

  .uui-navbar03_menu-right {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
  }

  .uui-navbar03_link {
    color: #475467;
    align-items: center;
    padding: 1.75rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
  }

  .uui-navbar03_link:hover {
    color: #344054;
  }

  .uui-navbar03_link.w--current {
    color: #000;
  }

  .uui-button-icon {
    width: 1.25rem;
    height: 1.25rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .uui-button-link-2 {
    grid-column-gap: .5rem;
    color: #6941c6;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }

  .uui-button-link-2:hover {
    color: #53389e;
  }

  .uui-navbar03_bottom-bar-right {
    grid-column-gap: 1.5rem;
    display: flex;
    position: relative;
  }

  .uui-text-size-medium {
    color: #475467;
    letter-spacing: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }

  .uui-navbar03_bottom-bar-left {
    grid-column-gap: .5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content minmax(max-content, 1fr);
    grid-auto-columns: 1fr;
    font-weight: 500;
    display: flex;
    position: relative;
  }

  .uui-navbar03_container {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .uui-navbar03_bottom-bar-background {
    width: 200vw;
    background-color: #f9fafb;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: -50vw;
    right: -50vw;
  }

  .uui-navbar03_bottom-bar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    position: relative;
  }

  .uui-text-size-small-2 {
    color: #475467;
    letter-spacing: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .875rem;
    line-height: 1.5;
  }

  .uui-navbar03_item-heading {
    color: #101828;
    margin-bottom: .25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-weight: 600;
  }

  .uui-navbar03_item-heading.margin-bottom-0 {
    margin-bottom: 0;
  }

  .uui-navbar03_item-right {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    display: flex;
  }

  .uui-icon-1x1-xsmall-2 {
    width: 1.5rem;
    height: 1.5rem;
  }

  .icon-featured-large-2 {
    width: 3rem;
    height: 3rem;
    color: #7f56d9;
    background-color: #f4ebff;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .uui-navbar03_icon-wrapper {
    flex: none;
  }

  .uui-navbar03_dropdown-link {
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
    border-radius: .5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    padding: .75rem;
    text-decoration: none;
    transition: background-color .3s;
    display: grid;
  }

  .uui-navbar03_dropdown-link:hover {
    background-color: #f9fafb;
  }

  .uui-badge-small-success-2 {
    grid-column-gap: .25rem;
    color: #027a48;
    white-space: nowrap;
    mix-blend-mode: multiply;
    background-color: #ecfdf3;
    border-radius: 10rem;
    align-items: center;
    padding: .125rem .5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    display: flex;
  }

  .uui-navbar03_text-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: 0px;
    align-items: center;
    margin-bottom: .25rem;
    display: flex;
  }

  .uui-navbar03_heading {
    color: #7f56d9;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: .25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .875rem;
    font-weight: 600;
  }

  .uui-navbar03_dropdown-link-list {
    grid-column-gap: 0px;
    grid-row-gap: .5rem;
    grid-template-rows: max-content max-content max-content max-content max-content;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .uui-navbar03_dropdown-content-left {
    grid-column-gap: 1.5rem;
    grid-row-gap: 0px;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    display: grid;
  }

  .uui-navbar03_dropdown-content {
    width: 100%;
    display: flex;
  }

  .uui-navbar03_dropdown-list {
    box-shadow: 0 12px 16px -4px rgba(0, 0, 0, .08), 0 4px 6px -2px rgba(16, 24, 40, .03);
  }

  .uui-navbar03_dropdown-list.w--open {
    width: 100vw;
    max-width: 100%;
    min-width: 100vw;
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 5.0625rem;
    bottom: auto;
    left: 0%;
    right: auto;
    overflow: hidden;
  }

  .uui-dropdown-icon-2 {
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    display: flex;
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .uui-navbar03_dropdown-toggle {
    color: #475467;
    align-items: center;
    padding: 1.75rem 2.5rem 1.75rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
    display: flex;
  }

  .uui-navbar03_dropdown-toggle:hover {
    color: #344054;
  }

  .uui-navbar03_menu-dropdown {
    position: static;
  }

  .uui-navbar03_menu {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    display: flex;
    position: static;
  }

  .uui-logo_image-2 {
    width: auto;
    height: 100%;
    flex: none;
    display: none;
  }

  .uui-logo_logotype-2 {
    width: auto;
    height: 100%;
    flex: none;
  }

  .uui-logo_logomark-dot-2 {
    z-index: 1;
    width: 50%;
    height: 50%;
    background-image: linear-gradient(26.5deg, #6941c6, #53389e);
    border-radius: 50%;
    position: relative;
  }

  .uui-logo_logomark-blur-2 {
    z-index: 2;
    width: 100%;
    height: 50%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .2);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .uui-styleguide_logomark-bg-2 {
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .uui-logo_logomark-2 {
    width: 2rem;
    height: 2rem;
    border: .1px solid #dae0e8;
    border-radius: .5rem;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(16, 24, 40, .06), 0 1px 2px rgba(16, 24, 40, .1);
  }

  .uui-logo_component-2 {
    width: auto;
    height: 2rem;
    flex-wrap: nowrap;
    display: flex;
  }

  .uui-navbar03_logo-link {
    padding-left: 0;
  }

  .uui-navbar03_component {
    min-height: 5rem;
    background-color: #fff;
    border-bottom: 1px solid #f2f4f7;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
  }

  .uui-navbar04_menu-button {
    padding: 0;
  }

  .uui-button-3 {
    grid-column-gap: .5rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #7f56d9;
    border: 1px solid #7f56d9;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }

  .uui-button-3:hover {
    background-color: #6941c6;
    border-color: #6941c6;
  }

  .uui-button-3:focus {
    background-color: #7f56d9;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f4ebff;
  }

  .uui-button-tertiary-gray-3 {
    grid-column-gap: .5rem;
    color: #475467;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }

  .uui-button-tertiary-gray-3:hover {
    color: #344054;
    background-color: #f9fafb;
  }

  .uui-button-secondary-gray-3 {
    grid-column-gap: .5rem;
    color: #344054;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #d0d5dd;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }

  .uui-button-secondary-gray-3:hover {
    color: #1d2939;
    background-color: #f9fafb;
  }

  .uui-button-secondary-gray-3:focus {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f2f4f7;
  }

  .uui-button-secondary-gray-3.show-tablet, .show-tablet-3 {
    display: none;
  }

  .uui-navbar04_button-wrapper {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    align-items: center;
    display: flex;
  }

  .uui-navbar04_menu-right {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
  }

  .uui-navbar04_link {
    color: #475467;
    align-items: center;
    padding: 1.75rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
  }

  .uui-navbar04_link:hover {
    color: #344054;
  }

  .uui-navbar04_link.w--current {
    color: #000;
  }

  .uui-navbar04_dropdown-right-overlay-absolute {
    min-width: 100vw;
    background-color: #f9fafb;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .uui-button-link-gray {
    grid-column-gap: .5rem;
    color: #475467;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }

  .uui-button-link-gray:hover {
    color: #344054;
  }

  .uui-navbar04_heading {
    color: #7f56d9;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: .25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .875rem;
    font-weight: 600;
  }

  .uui-navbar04_heading.margin-bottom-0 {
    margin-bottom: 0;
  }

  .uui-navbar04_dropdown-content-wrapper {
    z-index: 1;
    width: 100%;
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    grid-template-rows: min-content;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-auto-columns: 1fr;
    justify-items: stretch;
    display: grid;
    position: relative;
  }

  .uui-navbar04_dropdown-content-right {
    max-width: 14rem;
    flex: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    display: flex;
    position: relative;
  }

  .uui-text-size-small-3 {
    color: #475467;
    letter-spacing: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .875rem;
    line-height: 1.5;
  }

  .uui-badge-small-success-3 {
    grid-column-gap: .25rem;
    color: #027a48;
    white-space: nowrap;
    mix-blend-mode: multiply;
    background-color: #ecfdf3;
    border-radius: 10rem;
    align-items: center;
    padding: .125rem .5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    display: flex;
  }

  .uui-navbar04_item-heading {
    color: #101828;
    margin-bottom: .25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-weight: 600;
  }

  .uui-navbar04_item-heading.margin-bottom-0 {
    margin-bottom: 0;
  }

  .uui-navbar04_text-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: 0px;
    align-items: center;
    margin-bottom: .25rem;
    display: flex;
  }

  .uui-navbar04_item-right {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    display: flex;
  }

  .uui-icon-1x1-xsmall-3 {
    width: 1.5rem;
    height: 1.5rem;
  }

  .uui-navbar04_icon-holder {
    color: #7f56d9;
    flex: none;
  }

  .uui-navbar04_dropdown-link {
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
    border-radius: .5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    padding: .75rem;
    text-decoration: none;
    transition: all .3s;
    display: grid;
  }

  .uui-navbar04_dropdown-link:hover {
    background-color: #f9fafb;
  }

  .uui-navbar04_dropdown-link-list {
    grid-column-gap: 0px;
    grid-row-gap: .5rem;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .uui-navbar04_dropdown-content-left {
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 2rem 2rem 2rem 0;
    display: grid;
  }

  .uui-navbar04_dropdown-content {
    width: 100%;
    display: flex;
  }

  .uui-navbar04_container {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .uui-navbar04_dropdown-list {
    box-shadow: 0 12px 16px -4px rgba(0, 0, 0, .08), 0 4px 6px -2px rgba(16, 24, 40, .03);
  }

  .uui-navbar04_dropdown-list.w--open {
    width: 100vw;
    max-width: 100%;
    min-width: 100vw;
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 5.0625rem;
    bottom: auto;
    left: 0%;
    right: auto;
    overflow: hidden;
  }

  .uui-dropdown-icon-3 {
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    display: flex;
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .uui-navbar04_dropdown-toggle {
    color: #475467;
    align-items: center;
    padding: 1.75rem 2.5rem 1.75rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
    display: flex;
  }

  .uui-navbar04_dropdown-toggle:hover {
    color: #344054;
  }

  .uui-navbar04_menu-dropdown {
    position: static;
  }

  .uui-navbar04_menu {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    display: flex;
    position: static;
  }

  .uui-logo_image-3 {
    width: auto;
    height: 100%;
    flex: none;
    display: none;
  }

  .uui-logo_logotype-3 {
    width: auto;
    height: 100%;
    flex: none;
  }

  .uui-logo_logomark-dot-3 {
    z-index: 1;
    width: 50%;
    height: 50%;
    background-image: linear-gradient(26.5deg, #6941c6, #53389e);
    border-radius: 50%;
    position: relative;
  }

  .uui-logo_logomark-blur-3 {
    z-index: 2;
    width: 100%;
    height: 50%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .2);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .uui-styleguide_logomark-bg-3 {
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .uui-logo_logomark-3 {
    width: 2rem;
    height: 2rem;
    border: .1px solid #dae0e8;
    border-radius: .5rem;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(16, 24, 40, .06), 0 1px 2px rgba(16, 24, 40, .1);
  }

  .uui-logo_component-3 {
    width: auto;
    height: 2rem;
    flex-wrap: nowrap;
    display: flex;
  }

  .uui-navbar04_logo-link {
    padding-left: 0;
  }

  .uui-navbar04_component {
    min-height: 5rem;
    background-color: #fff;
    border-bottom: 1px solid #f2f4f7;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
  }

  @media screen and (max-width: 991px) {
    .menu-icon_line-bottom {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_line-middle-inner {
      width: 4px;
      height: 0;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_line-middle {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      justify-content: center;
      align-items: center;
      margin-top: 6px;
      margin-bottom: 6px;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }

    .menu-icon_line-top {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_component {
      width: 48px;
      height: 48px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: -.5rem;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }

    .uui-navbar05_menu-button.w--open {
      background-color: rgba(0, 0, 0, 0);
    }

    .hide-tablet {
      display: none;
    }

    .uui-button-secondary-gray.show-tablet, .show-tablet {
      display: block;
    }

    .uui-navbar05_button-wrapper {
      flex-direction: column-reverse;
      align-items: stretch;
      display: flex;
    }

    .uui-navbar05_menu-right {
      flex-direction: column-reverse;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      align-items: stretch;
      margin-top: 1.5rem;
      padding-bottom: 7rem;
    }

    .uui-navbar05_link {
      width: 100%;
      color: #101828;
      padding: .75rem 0;
      font-size: 1.125rem;
    }

    .uui-navbar05_link:hover {
      color: #101828;
    }

    .uui-navbar05_bottom-bar {
      border-radius: .5rem;
      flex-direction: column;
      margin-bottom: 1.5rem;
      padding: 1.5rem;
      overflow: hidden;
    }

    .uui-navbar05_dropdown-link {
      padding-left: 0;
      padding-right: 0;
    }

    .uui-navbar05_dropdown-link:hover {
      background-color: rgba(0, 0, 0, 0);
    }

    .uui-navbar05_dropdown-content-left {
      grid-row-gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
      align-content: start;
      align-items: start;
      padding-left: 0;
      padding-right: 0;
    }

    .uui-navbar05_dropdown-content {
      flex-direction: column;
    }

    .uui-navbar05_dropdown-list {
      position: relative;
      overflow: hidden;
    }

    .uui-navbar05_dropdown-list.w--open {
      min-width: auto;
      box-shadow: none;
      border-style: none;
      align-items: flex-start;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    .uui-dropdown-icon {
      color: #667085;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      top: auto;
      bottom: auto;
      left: auto;
      right: 0%;
    }

    .uui-navbar05_dropdown-toggle {
      color: #101828;
      align-items: center;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: 0;
      font-size: 1.125rem;
      display: flex;
    }

    .uui-navbar05_dropdown-toggle:hover {
      color: #101828;
    }

    .uui-navbar05_menu-dropdown {
      width: 100%;
      position: relative;
    }

    .uui-navbar05_menu-left {
      grid-column-gap: 0px;
      grid-row-gap: .5rem;
      color: #101828;
      flex-direction: column;
      align-items: flex-start;
      display: flex;
    }

    .uui-navbar05_menu {
      height: 100vh;
      -webkit-text-fill-color: inherit;
      background-color: #fff;
      background-clip: border-box;
      border-top: 1px solid #f2f4f7;
      align-items: flex-start;
      margin-left: 0;
      padding: 1.5rem 2rem 5rem;
      position: absolute;
      overflow: auto;
    }

    .menu-icon_line-bottom-2 {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_line-middle-inner-2 {
      width: 4px;
      height: 0;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_line-middle-2 {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      justify-content: center;
      align-items: center;
      margin-top: 6px;
      margin-bottom: 6px;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }

    .menu-icon_line-top-2 {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_component-2 {
      width: 48px;
      height: 48px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: -.5rem;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }

    .uui-navbar3_menu-button.w--open {
      background-color: rgba(0, 0, 0, 0);
    }

    .hide-tablet-2 {
      display: none;
    }

    .uui-button-secondary-gray-2.show-tablet, .show-tablet-2 {
      display: block;
    }

    .uui-navbar03_button-wrapper {
      flex-direction: column-reverse;
      align-items: stretch;
      display: flex;
    }

    .uui-navbar03_menu-right {
      flex-direction: column-reverse;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      align-items: stretch;
      margin-top: 1.5rem;
      padding-bottom: 7rem;
    }

    .uui-navbar03_link {
      width: 100%;
      color: #101828;
      padding: .75rem 0;
      font-size: 1.125rem;
    }

    .uui-navbar03_link:hover {
      color: #101828;
    }

    .uui-navbar03_bottom-bar-left {
      margin-bottom: 2rem;
    }

    .uui-navbar03_bottom-bar-background {
      width: 100%;
      border-radius: .5rem;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      overflow: hidden;
    }

    .uui-navbar03_bottom-bar {
      border-radius: .5rem;
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      display: none;
    }

    .uui-navbar03_dropdown-link {
      padding-left: 0;
      padding-right: 0;
    }

    .uui-navbar03_dropdown-link:hover {
      background-color: rgba(0, 0, 0, 0);
    }

    .uui-navbar03_dropdown-content-left {
      grid-row-gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
      align-content: start;
      align-items: start;
      padding-left: 0;
      padding-right: 0;
    }

    .uui-navbar03_dropdown-content {
      flex-direction: column;
    }

    .uui-navbar03_dropdown-list {
      position: relative;
      overflow: hidden;
    }

    .uui-navbar03_dropdown-list.w--open {
      min-width: auto;
      box-shadow: none;
      border-style: none;
      align-items: flex-start;
      margin-bottom: 1.5rem;
      padding: 0 0 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    .uui-dropdown-icon-2 {
      color: #667085;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      top: auto;
      bottom: auto;
      left: auto;
      right: 0%;
    }

    .uui-navbar03_dropdown-toggle {
      align-items: center;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: 0;
      font-size: 1.125rem;
      display: flex;
    }

    .uui-navbar03_dropdown-toggle:hover {
      color: #101828;
    }

    .uui-navbar03_menu-dropdown {
      width: 100%;
      position: relative;
    }

    .uui-navbar03_menu-left {
      grid-column-gap: 0px;
      grid-row-gap: .5rem;
      color: #101828;
      flex-direction: column;
      align-items: flex-start;
      display: flex;
    }

    .uui-navbar03_menu {
      height: 100vh;
      -webkit-text-fill-color: inherit;
      background-color: #fff;
      background-clip: border-box;
      border-top: 1px solid #f2f4f7;
      align-items: flex-start;
      margin-left: 0;
      padding: 1.5rem 2rem 5rem;
      position: absolute;
      overflow: auto;
    }

    .menu-icon_line-bottom-3 {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_line-middle-inner-3 {
      width: 4px;
      height: 0;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_line-middle-3 {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      justify-content: center;
      align-items: center;
      margin-top: 6px;
      margin-bottom: 6px;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }

    .menu-icon_line-top-3 {
      width: 24px;
      height: 2px;
      background-color: #344054;
      border-radius: 1rem;
      padding-bottom: 0;
      padding-right: 0;
    }

    .menu-icon_component-3 {
      width: 48px;
      height: 48px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: -.5rem;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }

    .uui-navbar04_menu-button.w--open {
      background-color: rgba(0, 0, 0, 0);
    }

    .hide-tablet-3 {
      display: none;
    }

    .uui-button-secondary-gray-3.show-tablet, .show-tablet-3 {
      display: block;
    }

    .uui-navbar04_button-wrapper {
      flex-direction: column-reverse;
      align-items: stretch;
      display: flex;
    }

    .uui-navbar04_menu-right {
      flex-direction: column-reverse;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      align-items: stretch;
      margin-top: 1.5rem;
      padding-bottom: 7rem;
    }

    .uui-navbar04_link {
      width: 100%;
      color: #101828;
      padding: .75rem 0;
      font-size: 1.125rem;
    }

    .uui-navbar04_link:hover {
      color: #101828;
    }

    .uui-navbar04_dropdown-right-overlay-absolute {
      min-width: 100%;
      border-radius: .5rem;
    }

    .uui-navbar04_dropdown-content-right {
      max-width: none;
      padding-right: 2rem;
    }

    .uui-navbar04_dropdown-link {
      padding-left: 0;
      padding-right: 0;
    }

    .uui-navbar04_dropdown-link:hover {
      background-color: rgba(0, 0, 0, 0);
    }

    .uui-navbar04_dropdown-content-left {
      padding-left: 0;
      padding-right: 0;
    }

    .uui-navbar04_dropdown-content {
      flex-direction: column;
    }

    .uui-navbar04_dropdown-list {
      position: relative;
      overflow: hidden;
    }

    .uui-navbar04_dropdown-list.w--open {
      min-width: auto;
      box-shadow: none;
      border-style: none;
      align-items: flex-start;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    .uui-dropdown-icon-3 {
      color: #667085;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      top: auto;
      bottom: auto;
      left: auto;
      right: 0%;
    }

    .uui-navbar04_dropdown-toggle {
      color: #101828;
      align-items: center;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: 0;
      font-size: 1.125rem;
      display: flex;
    }

    .uui-navbar04_dropdown-toggle:hover {
      color: #101828;
    }

    .uui-navbar04_menu-dropdown {
      width: 100%;
      position: relative;
    }

    .uui-navbar04_menu-left {
      grid-column-gap: 0px;
      grid-row-gap: .5rem;
      color: #101828;
      flex-direction: column;
      align-items: flex-start;
      display: flex;
    }

    .uui-navbar04_menu {
      height: 100vh;
      -webkit-text-fill-color: inherit;
      background-color: #fff;
      background-clip: border-box;
      border-top: 1px solid #f2f4f7;
      align-items: flex-start;
      margin-left: 0;
      padding: 1.5rem 2rem 5rem;
      position: absolute;
      overflow: auto;
    }
  }

  @media screen and (max-width: 767px) {
    .uui-button {
      font-size: 1rem;
    }

    .uui-button:hover {
      background-color: #7f56d9;
      border-color: #7f56d9;
    }

    .uui-button-tertiary-gray:hover {
      color: #475467;
      background-color: rgba(0, 0, 0, 0);
    }

    .uui-button-secondary-gray {
      padding-left: 1.25rem;
      font-size: 1rem;
    }

    .uui-button-secondary-gray:hover {
      color: #344054;
      background-color: #fff;
    }

    .uui-navbar05_link, .uui-button-link {
      font-size: 1rem;
    }

    .uui-button-link:hover {
      color: #6941c6;
    }

    .uui-navbar05_dropdown-link-list {
      max-width: none;
      grid-row-gap: .5rem;
    }

    .uui-badge-small-success {
      padding: .125rem .5rem;
    }

    .uui-navbar05_dropdown-content-left {
      grid-row-gap: .5rem;
      flex-direction: column;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    .uui-navbar05_dropdown-toggle {
      font-size: 1rem;
    }

    .uui-navbar05_menu {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .uui-styleguide_logomark-bg {
      background-image: url('../images/untitled-ui-logomark.svg');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .uui-navbar05_component {
      min-height: 4.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .uui-button-2 {
      font-size: 1rem;
    }

    .uui-button-2:hover {
      background-color: #7f56d9;
      border-color: #7f56d9;
    }

    .uui-button-tertiary-gray-2:hover {
      color: #475467;
      background-color: rgba(0, 0, 0, 0);
    }

    .uui-button-secondary-gray-2 {
      padding-left: 1.25rem;
      font-size: 1rem;
    }

    .uui-button-secondary-gray-2:hover {
      color: #344054;
      background-color: #fff;
    }

    .uui-navbar03_link, .uui-button-link-2 {
      font-size: 1rem;
    }

    .uui-button-link-2:hover {
      color: #6941c6;
    }

    .uui-badge-small-success-2 {
      padding: .125rem .5rem;
    }

    .uui-navbar03_dropdown-link-list {
      max-width: none;
      grid-row-gap: .5rem;
    }

    .uui-navbar03_dropdown-content-left {
      grid-row-gap: 1.5rem;
      flex-direction: column;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .uui-navbar03_dropdown-toggle {
      font-size: 1rem;
    }

    .uui-navbar03_menu {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .uui-styleguide_logomark-bg-2 {
      background-image: url('../images/untitled-ui-logomark.svg');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .uui-navbar03_component {
      min-height: 4.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .uui-button-3 {
      font-size: 1rem;
    }

    .uui-button-3:hover {
      background-color: #7f56d9;
      border-color: #7f56d9;
    }

    .uui-button-tertiary-gray-3:hover {
      color: #475467;
      background-color: rgba(0, 0, 0, 0);
    }

    .uui-button-secondary-gray-3 {
      padding-left: 1.25rem;
      font-size: 1rem;
    }

    .uui-button-secondary-gray-3:hover {
      color: #344054;
      background-color: #fff;
    }

    .uui-navbar04_link, .uui-button-link-gray {
      font-size: 1rem;
    }

    .uui-button-link-gray:hover {
      color: #475467;
    }

    .uui-navbar04_dropdown-content-right {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .uui-text-size-small-3.hide-mobile-landscape, .hide-mobile-landscape {
      display: none;
    }

    .uui-badge-small-success-3 {
      padding: .125rem .5rem;
    }

    .uui-navbar04_dropdown-link-list {
      max-width: none;
    }

    .uui-navbar04_dropdown-content-left {
      grid-row-gap: 1.5rem;
      flex-direction: column;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .uui-navbar04_dropdown-toggle {
      font-size: 1rem;
    }

    .uui-navbar04_menu {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .uui-styleguide_logomark-bg-3 {
      background-image: url('../images/untitled-ui-logomark.svg');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .uui-navbar04_component {
      min-height: 4.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (max-width: 479px) {
    .hide-mobile-portrait {
      display: none;
    }

    .uui-navbar05_bottom-bar-content {
      flex-direction: column;
      display: flex;
    }

    .uui-navbar05_bottom-bar {
      align-items: center;
    }

    .uui-navbar05_dropdown-content-left {
      grid-template-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .uui-navbar03_bottom-bar-right {
      width: 100%;
      flex-direction: column;
    }

    .uui-navbar03_bottom-bar-left {
      grid-template-rows: auto auto;
      grid-template-columns: max-content;
    }

    .uui-navbar03_bottom-bar {
      align-items: flex-start;
    }

    .uui-navbar03_dropdown-link {
      padding-left: 0;
    }

    .uui-navbar03_dropdown-content-left {
      grid-template-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .uui-navbar04_dropdown-content-wrapper {
      width: 100%;
    }

    .uui-navbar04_dropdown-content-right {
      max-width: none;
    }

    .uui-navbar04_dropdown-link {
      padding-left: 0;
    }

    .uui-navbar04_dropdown-content-left {
      grid-template-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

